.Terra {
    text-align: center;
    background-color: #74553d;
    height: 60vh;
    width: 20vw;
    border-radius: 10px;
    border: 5px solid #327700;
    padding-top: 10px;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 1);
    transition: all 0.4s;
}

.Terra:hover {
    transform: scale(1.1);
}

.Terra .Nome {
    margin-bottom: 5px;
    color: #311c00;
    text-transform: uppercase;
    font-weight: 500;
    font-size: x-large;
}

.Terra .Icon {
    margin-top: 25px;
    transform: scale(1.5);
}

.Terra .Info {
    color: #311c00;
}

.Terra .Descricao {
    letter-spacing: 2px;
    color: #311c00;
    margin: 10px;
}

@media (max-width: 476px) {
    .Terra {
        height: 70vh;
        width: 50vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}