.Agua {
    padding-top: 10px;
    text-align: center;
    background-color: #5757ff;
    height: 45vh;
    width: 15vw;
    border-radius: 10px;
    border: 5px solid #0202ff;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 1);
    transition: all 0.4s;
}

.Agua:hover {
    transform: scale(1.1);
}

.Agua p {
    margin-bottom: 5px;
}