.Terra {
    text-align: center;
    background-color: #6b482b;
    height: 45vh;
    width: 15vw;
    border-radius: 10px;
    border: 5px solid #327700;
    padding-top: 10px;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 1);
    transition: all 0.4s;
}

.Terra:hover {
    transform: scale(1.1);
}

.Terra p {
    margin-bottom: 5px;
}

@media (width < 920px) {
    .Terra {
        height: 30vh;
        min-width: 15vw;
        margin-top: 5px;
    }
}