header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
}

.Logo {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

.Logo img {
    height: 7vh;
    width: auto;
    transition: all 0.4s;
}

.Logo img:hover {
    transform: scale(1.1);
}

.Logo p {
    margin-left: 5px;
    margin-top: 13px;
}

ul {
    list-style: none;
    display: flex;
}

.Topics {
    margin-top: 20px;
    margin-right: 70px;
}

.Topics a {
    color: inherit;
    text-decoration: none;
    transition-duration: 0.5s;
}

.Topics a:hover {
    font-size: 17px;
}

.Cards {
    height: 80vh;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 920px) {
    .Cards {
        display: flex;
        flex-direction: column;
        height: auto;
        transition: all 0.4s;
    }
}