header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
}

.Logo {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

.Logo img {
    height: 7vh;
    width: auto;
    transition: all 0.4s;
}

.Logo img:hover {
    transform: scale(1.1);
}

.Logo p {
    margin-left: 5px;
    margin-top: 13px;
    font-weight: bold;
}

@keyframes rainbow {
    0% {
        color: #ff0000;
    }

    16% {
        color: #ffa500;
    }

    32% {
        color: #ffff00;
    }

    48% {
        color: #008000;
    }

    64% {
        color: #0000ff;
    }

    80% {
        color: #4b0082;
    }

    100% {
        color: #ee82ee;
    }
}

.Letra {
    animation: rainbow 4s infinite;
}

.Letra:nth-child(1) {
    animation-delay: 0s;
}

.Letra:nth-child(2) {
    animation-delay: 0.5s;
}

.Letra:nth-child(3) {
    animation-delay: 1s;
}

.Letra:nth-child(4) {
    animation-delay: 1.5s;
}

.Letra:nth-child(5) {
    animation-delay: 2s;
}

.Letra:nth-child(6) {
    animation-delay: 2.5s;
}

.Letra:nth-child(7) {
    animation-delay: 3s;
}

.Letra:nth-child(8) {
    animation-delay: 3.5s;
}

.Letra:nth-child(9) {
    animation-delay: 4s;
}

.Letra:nth-child(10) {
    animation-delay: 4.5s;
}

.Letra:nth-child(11) {
    animation-delay: 5s;
}

.Letra:nth-child(12) {
    animation-delay: 5.5s;
}

ul {
    list-style: none;
    display: flex;
}

.Topics {
    margin-top: 20px;
    margin-right: 70px;
}

.Topics a {
    color: inherit;
    text-decoration: none;
    transition-duration: 0.5s;
    transition: ease 0.3s;
}

.Topics a:hover {
    color: #00c200;
}

.Cards {
    height: 80vh;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 920px) {
    .Cards {
        display: flex;
        flex-direction: column;
        height: auto;
        transition: all 0.4s;
    }
}