.Lava {
    padding-top: 10px;
    text-align: center;
    background-color: #440500;
    height: 60vh;
    width: 20vw;
    border-radius: 10px;
    border: 5px solid #000;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 1);
    transition: all 0.4s;
    cursor: pointer;
}

.Lava:hover {
    transform: scale(1.1);
}

.Lava .Nome {
    margin-bottom: 5px;
    color: #d10000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: x-large;
}

.Lava .Icon {
    margin-top: 25px;
    transform: scale(1.5);
}

.Lava .Info {
    color: #d10000;
}

.Lava .Descricao {
    letter-spacing: 2px;
    color: #d10000;
    margin: 10px;
}

@media (max-width: 476px) {
    .Lava {
        height: 70vh;
        width: 50vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}